/**
 * Icon Component Styles
 * 
 * Provides consistent sizing for icon variants.
 */

.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

/* Size variants */
.icon-sm {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.icon-md {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

.icon-xl {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
